body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A0D683;
  }
  
  header {
    background-color: #B4E380;
    padding: 1rem;
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .section {
    padding: 2rem;
    text-align: left;
  }
  
  .section {
    padding: 2rem;
    text-align: left;
  }
  .speakers {
    display: flex;
    justify-content: left;
    gap: 20px;
  }

  .Pemateri {
    display: flex;
    justify-content: left;
    gap: 20px;
  }
  
  .speaker img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .Pemateri img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #FEFF9F;
    color: #72BF78;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  footer {
    background-color: #f1f1f1;
    padding: 1rem;
    text-align: center;
  }
  